%h2="Admin Auth"
%form{:action => "/auth", :method => "post"}
  %input{:type => "password", :name => "password"}
  %input{:type => "submit", :value => "Login"}
:erb
  <script type="text/javascript">document.forms[0].password.focus()</script>
